.geo {
  display: inline-flex;
  align-items: center;
  color: inherit;

  &__icon{
    margin-right: 2px;
    width: 16px;
    height: 16px;
    fill: @geo-black;
  }

  &:hover &__text{
    color: @custom-red;
  }

  &:hover &__icon {
    fill: @geo-red;
  }


}