.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    width: 44px;
    height: 44px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__text {
    &._text-link{
      .text-link();
    }
  }
}