// задаем основные параметры шрифта в виде миксинов и переменных
@font-family: YSans, serif;
@font-regular-size: 13px;
@font-regular-weight: 400;
@font-medium-size: 16px;
@font-medium-weight: 500;
@font-large-size: 28px;

// font-weight-size
.font-regular() {
  .font(@font-family, @font-regular-weight, @font-regular-size, normal);
}

.font-regular-medium() {
  .font-regular();
  font-size: @font-medium-size;
}

.font-regular-large() {
  .font-regular();
  font-size: @font-large-size;
}

.font-medium() {
  .font(@font-family, @font-medium-weight, @font-medium-size, normal);
}

.font-medium-regular() {
  .font-medium();
  font-size: @font-regular-size;
}

.font-medium-large() {
  .font-medium();
  font-size: @font-large-size;
}

