// connect fonts via font-face
// Arial: no need in connection

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/fonts/helveticaneuecyr-roman.eot');
  src: local('Helvetica Neue'), url('../src/assets/fonts/helveticaneuecyr-roman.woff') format('woff'), url('../src/assets/fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../src/assets/fonts/helveticaneuecyr-roman.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/fonts/HelveticaBold.eot');
  src: local('"Helvetica Neue Bold'), url('../src/assets/fonts/HelveticaBold.woff') format('woff'), url('../src/assets/fonts/HelveticaBold.ttf') format('truetype'), url('../src/assets/fonts/HelveticaBold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../src/assets/fonts/YandexSansText-Thin.eot');
  src: local('Yandex Sans Text Thin'), local('YandexSansText-Thin'),
  url('../src/assets/fonts/YandexSansText-Thin.eot?#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/YandexSansText-Thin.woff2') format('woff2'),
  url('../src/assets/fonts/YandexSansText-Thin.woff') format('woff'),
  url('../src/assets/fonts/YandexSansText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../src/assets/fonts/YandexSansText-Regular.eot');
  src: local('Yandex Sans Text Regular'), local('YandexSansText-Regular'),
  url('../src/assets/fonts/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/YandexSansText-Regular.woff2') format('woff2'),
  url('../src/assets/fonts/YandexSansText-Regular.woff') format('woff'),
  url('../src/assets/fonts/YandexSansText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../src/assets/fonts/YandexSansText-Light.eot');
  src: local('Yandex Sans Text Light'), local('YandexSansText-Light'),
  url('../src/assets/fonts/YandexSansText-Light.eot?#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/YandexSansText-Light.woff2') format('woff2'),
  url('../src/assets/fonts/YandexSansText-Light.woff') format('woff'),
  url('../src/assets/fonts/YandexSansText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../src/assets/fonts/YandexSansText-Bold.eot');
  src: local('Yandex Sans Text Bold'), local('YandexSansText-Bold'),
  url('../src/assets/fonts/YandexSansText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/YandexSansText-Bold.woff2') format('woff2'),
  url('../src/assets/fonts/YandexSansText-Bold.woff') format('woff'),
  url('../src/assets/fonts/YandexSansText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../src/assets/fonts/YandexSansText-Medium.eot');
  src: local('Yandex Sans Text Medium'), local('YandexSansText-Medium'),
  url('../src/assets/fonts/YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/YandexSansText-Medium.woff2') format('woff2'),
  url('../src/assets/fonts/YandexSansText-Medium.woff') format('woff'),
  url('../src/assets/fonts/YandexSansText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

