// задаем основные параметры шрифта в виде миксинов и переменных

@font-family: 'Yandex Sans Text', 'Helvetica Neue', sans-serif;
@font-normal-size: 13px;
@font-normal-weight: 400;
@font-medium-size: 16px;
@font-medium-weight: 500;
@font-large-size: 28px;

.font-base() {
  font-family: @font-family;
  font-weight: @font-normal-weight;
  font-style: normal;
  font-size: @font-normal-size;
}

.font-medium() {
  .font-base();
  font-weight: @font-medium-weight;
  font-size: @font-medium-size;
}

.font-large() {
  .font-base();
  font-size: @font-large-size;
}
