// connect fonts via font-face
// Arial: no need in connection

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/fonts/helveticaneuecyr-roman.eot');
  src: local('Helvetica Neue'), url('../src/assets/fonts/helveticaneuecyr-roman.woff') format('woff'), url('../src/assets/fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../src/assets/fonts/helveticaneuecyr-roman.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/assets/fonts/HelveticaBold.eot');
  src: local('"Helvetica Neue Bold'), url('../src/assets/fonts/HelveticaBold.woff') format('woff'), url('../src/assets/fonts/HelveticaBold.ttf') format('truetype'), url('../src/assets/fonts/HelveticaBold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}